* {
  margin: 0;
  padding: 0;
}

.pages {
  text-align: center;
}

h1 {
  display: flex;
  justify-content: center;
  padding: 30px 0 15px 0;
  /* font-size: 200px; */
}

.head {
  background-image: linear-gradient(225deg, #7ac3ff 0%, #b9fff1 100%);
  font-size: 45px;
}

a {
  padding: 5px 50px;
  text-decoration: none;
  color: black;
  display: inline-block;
  position: relative;
  color: #000000;
}

a:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #ff0000;
  transform-origin: right;
  transition: transform 0.25s ease-out;
}

a:hover:after {
  transform: scaleX(1);
  transform-origin: left;
}

#head {
  transform: rotate(-90deg);
  font-size: 20px;
  font-family: 'Lucida Sans';
}

hr {
  margin: 5px auto;
  width: 80%;
}

img {
  width: 200px;
  height: 200px;
  border-radius: 5px;
}

h2 {
  text-align: left;
  text-decoration: underline red;
  /* border: 1px solid; */
}

/* h3{
  outline: auto;
} */
p {
  font-size: 14px;
}

.main {
  /* border: 1px solid green; */
  width: 90%;
  margin: auto;
  display: flex;
  gap: 50px;
}
.leftCont {
  width: 60%;
  /* border: 1px solid; */
}
.left{
  display: flex;
  flex-direction: row;
  /* border: 1px solid red; */
  gap: 10px;
  text-align: justify;
  margin-top: 10px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: relative;
}
.ref{
  position: absolute;
  bottom: 10px;
}
.info{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 5px;
}
h3 a{
  padding: 0;
}
h3 a:hover:after{
  transform: scale(0);
}
.des{
  text-align: justify;
}

.topPost{
  height: 450px;
  margin-top: 10px;
  /* border: 1px solid rgb(255, 0, 0); */
  text-align: left;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: relative;
}
#topPost{
  width: 34vw;
  height: 58vh;
}

.rightCont{
  width: 40%;
  /* border: 1px solid blueviolet; */
}
.right{
  display: flex;
  flex-direction: row;
  /* border: 1px solid red; */
  gap: 15px;
  text-align: justify;
  margin-top: 15px;
  height: 110px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: relative;
}
#rightImg{
  width: 150px;
  height: 110px;
  object-fit: fill;
}
.r8Head{
  font-size: 16px;
}

.addvert {
  border: 1px solid rgb(141, 238, 130);
  margin-top: 20px;
  height: 50vh;
}

.footer {
  width: 100%;
  height: 150px;
  background: #7ac3ff;
  margin: 10px 0 0 0;
}